/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px 100px;
}

.substitulo{
    font-family: 'Fira Sans', Arial, sans-serif;
    font-size: 8rem;
    line-height: 1;
    word-break: break-all;
    max-width: 4ch;
    text-transform: uppercase;
    color: #e0e0e0;
}