.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.titulo{
    font-size: 3.5rem;
    font-weight: 700;
}

.header-nav-menu{
    display: flex;
    list-style: none;
    gap: 1.5rem;
    margin-right: 4rem;
}

.header-nav-menu a{
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
}